pokèAPI/PokèApi lezione 3.json
{
  "name": "PokèApi lezione 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e50b501c-c546-420b-abf3-21bce233bb5a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon/pikachu",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "96e3cc6f-da60-46e7-a09f-58923a910556",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst name = response.name;\nconst base_experience = response.base_experience;\nconst type = response.types[0].type.name;\n\nreturn [{\n  json: {\n    name,\n    base_experience,\n    type\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "6dcceb23-3609-4053-ae30-5c079154da51",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "038713b1-0c38-4b7d-bf02-9a45d2577e64",
  "meta": {
    "instanceId": "c6340a675df2a727ab15ed3f6d8d62880dbe20df9d0152fe8457b488c5c92e1e"
  },
  "id": "7nLcRfcc4j9UnYGSf21ys",
  "tags": []
}